<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <h1 class="font-weight-bold"><i class="fa-brands fa-jedi-order"></i>クエスト指示書</h1>
    </div>
    <div class="offset-1"></div>
  </div>
  <div class="row py-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <h3 class="text-center pt-3"><strong>
      <% if logged_in? && current_user.name == "" %>
        匿名
      <% elsif logged_in? && current_user.name != "" %>
        <%= current_user.name %>
      <% else %>
        ゲスト
      <% end %>
      さんへのクエスト発生！
      </strong></h3>
      <p class="text-center pt-3"><u><strong><%= @title %></strong></u>を視聴しよう！</p>
    </div>
    <div class="offset-1"></div>
  </div>
  <div class="row py-3">
    <div class="offset-1 offset-sm-2 offset-md-3 offset-lg-4"></div>
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 d-flex justify-content-between">
      <%= link_to "クエスト変更", change_title_path, method: :post, :class => "btn btn-secondary" %>
      <% if logged_in? %>
        <%= form_with model: @user, url: update_point_path, method: :patch do |f| %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questModal">視聴完了</button>
        <div class="modal fade" id="questModal" tabindex="-1" role="dialog" aria-labelledby="questModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="questModalLabel">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                視聴完了しましたか？
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">まだ</button>
                <%= f.submit '視聴した', :class =>"btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
      <a class="btn btn-primary font-weight-bold" href="/login_page" role="button">ログイン</a>
      <% end %>
    </div>
    <div class="offset-1 offset-sm-2 offset-md-3 offset-lg-4"></div>
  </div>
  <!--<div class="row pb-3">-->
  <!--  <div class="offset-4"></div>-->
  <!--  <div class="col-4 ">-->
  <!--    <p class="m-0" style="font-size:6px;">チェンジ回数：<= @quest.change_count %></p>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="row p-0">
    <div class="offset-1"></div>
    <div class="col-10">
      <% if not logged_in? %>
      <p class="text-center"><small>※ゲストの方は視聴を完了しても経験値は獲得できません。<br>ログインボタンよりログインをしてからクエストを受注してください。※</small></p>
      <% end %>
    </div>
    <div class="offset-1"></div>
  </div>
  <div class="row py-3">
    <div class="offset-2"></div>
    <div class="col-8">
      <h4 class="border-bottom border-left border-dark font-weight-bold">&nbsp;遊び方</h4>
      <ol>
        <li>ランダムにアニメタイトル(映画含む)が表示されるぞ！</li>
        <li>表示されたアニメを視聴しよう！</li>
        <li>視聴(自己申告)したら「視聴完了」ボタンを押そう！</li>
        <li>「クエスト変更」ボタンで表示タイトルをいつでも変更できるぞ！</li>
        <li>どのタイトルも1つにつき10ポイント！獲得ポイントによってアバターの変化と称号が獲得できる！</li>
        <li>クエストクリアして<strong><u>アニメストマスター</u></strong>を目指そう！</li>
      </ol>
    </div>
    <div class="offset-2" style="height:300px;"></div>
  </div>
</div>