<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <% if @user.uid == current_user.uid %>
    <div class="col-9">
      <h1 class="font-weight-bold"><%= image_tag current_user.image, :class => "rounded-circle" %>マイページ</h1>
    </div>
    <div class="col-1">
      <%= link_to image_tag('gear', width: '110%', height: '100%' ), edit_user_path %>
    </div>
    <% else %>
    <div class="col-10">
      <h1 class="font-weight-bold"><i class="fa-solid fa-users"></i><%= @user.name %>さんのページ</h1>
    </div>
    <% end %>
    <div class="offset-1"></div>
  </div>
  <div class="row pb-2">
    <div class="col-12 d-flex align-items-center justify-content-center">
    <% if @user.title == nil %>
      <%= image_tag 'title0', width: '25%', height: '70%' %>
    <% else %>
      <%= @user.title %>
    <% end %>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12 text-center">
    <% if @user.avatar == '1-1' %>
      <% if @user.acquisition_point <= 500 %>
        <%= image_tag '1-1' %>
      <% elsif @user.acquisition_point >= 510 && @user.acquisition_point <= 1200 %>
        <%= image_tag '1-2' %>
      <% elsif @user.acquisition_point >= 1210 %>
        <%= image_tag '1-3' %>
      <% end %>
    <% elsif @user.avatar == '2-1' %>
      <% if @user.acquisition_point <= 200 %>
        <%= image_tag '2-1' %>
      <% elsif @user.acquisition_point >= 210 && @user.acquisition_point <= 450 %>
        <%= image_tag '2-2' %>
      <% elsif @user.acquisition_point >= 460 && @user.acquisition_point <= 800 %>
        <%= image_tag '2-3' %>
      <% elsif @user.acquisition_point >= 810 %>
        <%= image_tag '2-4' %>
      <% end %>
    <% elsif @user.avatar == '3-1' %>
      <% if @user.acquisition_point <= 50 %>
        <%= image_tag '3-1' %>
      <% elsif @user.acquisition_point >= 60 && @user.acquisition_point <= 150 %>
        <%= image_tag '3-2' %>
      <% elsif @user.acquisition_point >= 160 && @user.acquisition_point <= 270 %>
        <%= image_tag '3-3' %>
      <% elsif @user.acquisition_point >= 280 && @user.acquisition_point <= 420 %>
        <%= image_tag '3-4' %>
      <% elsif @user.acquisition_point >= 430 %>
        <%= image_tag '3-5' %>
      <% end %>
    <% end %>
    </div>
    <div class="col-12 text-center">
      <label>獲得経験値</label><%= @user.acquisition_point %>
    </div>
  </div>
</div>
<div class="container">
  <div class="raw">
    <div class="offset-4 col-6">
      <table class="table table-borderless m-auto">
        <tbody>
          <tr>
            <th class="text-right pr-1">名前:</th>
            <td class="pl-1"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="text-right pr-1">自己紹介:</th>
            <td class="pl-1"><%= @user.description %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

