<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-1 pr-0">
      <h1 class="text-right font-weight-bold"><i class="fa-solid fa-video"></i></h1>
    </div>
    <div class="col-3 pl-0">
      <h1 class="font-weight-bold border-dark border-bottom border-top">&nbsp;アニメ一覧</h1><p></p>
    </div>
  </div>
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-8">
      <p>2010年冬~2023年冬に放送された全<strong><%= @animes.total_count %></strong>件のアニメ<small>(放送年順)</small>一覧です。<small>※1クール毎に更新予定</small><br>
         100件ごとに表示しています。</p>
      <p data-toggle="modal" data-target="#annictModal"><a class="link-primary official-site-url">Annict</a>のWeb APIを使用することによりアニメデータを取得・使用しています。<br>Annict側により内容が追加及び削除される場合がございます。ご了承ください。</p>
      <div class="modal fade" id="annictModal" tabindex="-1" role="dialog" aria-labelledby="annictModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="annictModalLabel">確認</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              これより先は別のサイトです。<br>
              当サイトは遷移先のサイトを利用したことにより生じたいかなる損害について責任を負いません。<br>
              こちらを確認した上でご利用ください。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
              <%= link_to "進む", 'https://annict.com/', target: :_blank, rel: "noopener noreferrer", :class => "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
      <% @years.each do |year| %>
        <%= link_to year.to_s, "anime?#{year}" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-borderless border-bottom border-dark">
        <thead>
          <tr>
            <th class="border-left border-dark" style="width: 70%">タイトル</th>
            <th class="border-left border-dark" style="width: 15%">放送年</th>
            <th class="border-left border-dark" style="width: 15%">公式サイト</th>
          </tr>
        </thead>
        <% @animes.each.with_index(1) do |anime, i|%>
        <tbody class="border-bottom border-top border-dark" id="<%= anime.season_year %>">
          <tr>
            <td>･<%= anime.title %></td>
            <td><%= anime.season_year %>年</td>
            <% if not anime.official_site_url == "" %>
            <td class="text-center font-weight-bold official-site-url" data-toggle="modal" data-target="#animeModal<%= i %>">進む</td>
            <div class="modal fade" id="animeModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="animeModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="animeModalLabel">確認</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    これより先は別のサイトです。<br>
                    当サイトは遷移先のサイトを利用したことにより生じたいかなる損害について責任を負いません。<br>
                    こちらを確認した上でご利用ください。
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                    <%= link_to "進む", anime.official_site_url, target: :_blank, rel: "noopener noreferrer", :class => "btn btn-success" %>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
            <td class="text-muted">リンクデータ無し</td>
            <% end %>
          </tr>
        </tbody>
    　　<% end %>
      </table>
      <div class="d-flex justify-content-center"><%= paginate @animes %></div>
    </div>
  </div>
</div>