<!DOCTYPE html>
<html>
  <head>
    <title>Animest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
    <header style="background-color:#ffe082;" class="shadow sticky-top">
      <nav class="navbar navbar-expand-sm navbar-light p-0 mx-4">
        <a class="navbar-brand m-0 p-0" href="/"><%= image_tag 'ANIMEST-logo', size: "80x65" %></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to  ranking_path, class: 'nav-link text-dark' do %>
                <span class="font-weight-bold p-2" style="background-color:#ffecb3;"><font color="#d9a46f">ランキング</font></span>
              <% end %>
            </li>
            <li>
              <%= link_to  quest_path, class: 'nav-link text-dark' do %>
                <span class="font-weight-bold p-2" style="background-color:#ffecb3;"><font color="#d9a46f">クエスト</font></span>
              <% end %>
            </li>
            <li>
              <%= link_to index_animes_path, class: 'nav-link text-dark' do %>
                <span class="font-weight-bold p-2" style="background-color:#ffecb3;"><font color="#d9a46f">アニメ一覧</font></span>
              <% end %>
            </li>
            <% if logged_in? %>
            <li>
              <%= link_to  user_path(:id), class: 'nav-link text-dark' do %>
                <span class="font-weight-bold p-2" style="background-color:#ffecb3;"><font color="#d9a46f">マイページ</font></span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <div>
        <% if logged_in? %>
          <%= link_to 'ログアウト', logout_path %>
        <% else %>
          <a href="/login_page"><i class="fa-solid fa-circle-user fa-2x" style="color:rgba(0,0,0,0.5);"></i></a>
        <% end %>
        </div>
      </nav>
    </header>
    <main style="background-color:#ffe682">
      <%= yield %>
    </main>
    <footer style="background-color:#ffe082;">
      <div class="pt-3 text-center px-3 small">
        <i class="fa-regular fa-copyright"></i> 2022 アニメスト
        <i class="fa-regular fa-registered"></i> All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
